@inherits InvestmentsBaseComponent

@inject UIService UiService

<Widget OnClick="OpenInvestmentsOverview">
    <MudText class="fs-5">Investments</MudText>
    @if (Working)
    {
        <MudSkeleton/>
    }
    else
    {
        <section>
            <MudText class="fs-3">kr @CurrentInvestmentsBalance.ToString("N2")</MudText>
            <MudText Color="@(InvestmentsBalanceComparedToPreviousMonth > 0 ? Color.Success : Color.Error)">
                kr @InvestmentsBalanceComparedToPreviousMonth.ToString("N2") (@InvestmentsBalanceDiffInPercentageComparedToPreviousMonth.ToString("N2")%) actually invested
            </MudText>
            <MudText class="" Color="@((BudgetedDeposits - BudgetedWithdrawals > 0) ? Color.Success : Color.Error)">
                kr @((BudgetedDeposits - (-BudgetedWithdrawals)).ToString("N2")) budgeted invested
            </MudText>
        </section>
    }

</Widget>

@code {

    [Parameter]
    public string HeaderText { get; set; }

    private async Task OpenInvestmentsOverview()
    {
        await UiService.ShowDialog<InvestmentsOverviewDialog>();
    }

}