@inherits LayoutComponentBase

@inject NavigationManager _navigationManager
<PageTitle>Banking</PageTitle>
<MudThemeProvider
    IsDarkMode="true"/>
<MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.Large"
    CloseButton="true"
    Position="DialogPosition.TopCenter"/>
<MudSnackbarProvider />

<div class="page">
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer"/>
        </MudAppBar>
        <MudDrawer @bind-Open="@_drawerOpen" Breakpoint="@Breakpoint.Md" Elevation="1" Variant="@DrawerVariant.Responsive">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Banking</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Href="/index" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
                <MudNavLink Href="/accounts" Icon="@Icons.Filled.AccountBalance">Accounts</MudNavLink>
                <MudNavLink Href="/transactions" Icon="@Icons.Filled.AttachMoney">Transactions</MudNavLink>
                <MudNavLink href="/recurringtransactions" Icon="@Icons.Filled.Repeat">Recurring transactions</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <MudMainContent Class="pt-16">
            <MudContainer Class="mt-6">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>

@code {
    bool _drawerOpen;

    void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    } 
}