@inherits BankingBaseComponent

@inject UIService UiService
@inject IBankProvider BankProvider

<div class="row">
    <div class="widget-col-12 front-page-col-12 col-8 col-sm-9">
        <MudSelect Disabled="State.Banks.Count <= 1"
                   @bind-Value="@State.BankId"
                   Label="Bank"
                   Placeholder="Select bank"
                   Variant="@Constants.InputVariant"
                   AnchorOrigin="@Origin.BottomCenter">
            <MudSelectItem T="long" Value="0">All</MudSelectItem>
            @foreach (var bank in State.Banks)
            {
                <MudSelectItem T="long" Value="@bank.Id">@bank.Name</MudSelectItem>
            }
        </MudSelect>
    </div>

    <MudButtonGroup
        class="col-3 col-sm-2 d-widget-none d-front-page-none"
        Size="@Size.Small"
        DisableElevation="true"
        OverrideStyles="false">
        <MudIconButton
            Disabled="@(State.BankId == 0)"
            Color="@Color.Primary"
            Icon="@Icons.Filled.OpenInNew"
            @onclick="() => OpenEditBankDialog(UiService, State.BankId)"/>
        <MudIconButton
            Icon="@Icons.Filled.Add"
            Color="@Color.Primary"
            @onclick="() => OpenAddBankDialog(UiService)"/>
    </MudButtonGroup>
</div>

@code {

    private async Task OpenAddBankDialog(UIService uiService)
    {
        var parameters = new DialogParameters
        {
            { nameof(AddBankDialog.OnBankAdded), OnBankAdded }
        };

        await uiService.ShowDialog<AddBankDialog>(parameters);
    }

    private async Task OnBankAdded(UIService uiService, long bankId)
    {
        await State.SetBanks();

        uiService.ShowSnackbar("Bank added", Severity.Success);

        await InvokeAsync(StateHasChanged);
    }

    private async Task OpenEditBankDialog(UIService uiService, long bankId)
    {
        var parameters = new DialogParameters
        {
            { nameof(EditBankDialog.BankId), bankId },
            { nameof(EditBankDialog.OnBankUpdated), OnBankUpdated },
            { nameof(EditBankDialog.OnBankDeleted), OnBankDeleted }
        };

        await uiService.ShowDialog<EditBankDialog>(parameters);
    }

    private async Task OnBankUpdated(UIService uiService, long bankId)
    {
        await State.SetBanks();

        uiService.ShowSnackbar("Bank saved", Severity.Success);

        await InvokeAsync(StateHasChanged);
    }

    private async Task OnBankDeleted(UIService uiService, long bankId)
    {
        await State.SetBanks();

        uiService.ShowSnackbar("Bank deleted", Severity.Success);

        await InvokeAsync(StateHasChanged);
    }

}