@using Banking.Providers
@using Banking.Services
@using Banking.Web.WebApp.Models.Form
@using Hub.Shared.DataContracts.Banking.Query

@inject ITransactionService TransactionService
@inject ITransactionProvider TransactionProvider
@inject UIHelpers UiHelpers

@inherits BaseComponent

<Dialog 
    HeaderText="Add transaction"
    HeaderIcon="@IconUtils.TransactionIcon">

    <TransactionForm
        Transaction="@Transaction"
        Working="@Working">

        <ValidationSummary>
            @if (Transaction.ValidationErrors.Any(x => !string.IsNullOrEmpty(x.Value)))
            {
                <div class="row mt-3">
                    <div class="col-lg-8 col-sm-12">
                        @foreach (var validationError in Transaction.ValidationErrors.Where(x => !string.IsNullOrEmpty(x.Value)))
                        {
                            <div class="alert alert-danger" role="alert">
                                <p>@validationError.Value</p>
                            </div>
                        }

                    </div>
                </div>
            }
        </ValidationSummary>

        <SubmitActions>
            <AddButtons
                SaveAndCloseAction="SaveAndClose"
                SaveAndAddNewAction="SaveAndAddNew"
                Disabled="@Working"/>
        </SubmitActions>
    </TransactionForm>

    <AdditionalData>
        <CascadingValue Name="Query" Value="TransactionQuery">
            <TransactionsTable/>
        </CascadingValue>
    </AdditionalData>
</Dialog>

@code {
    [Parameter]
    public Func<UIHelpers, long, Task> OnTransactionAdded { get; set; }
    
    [CascadingParameter] 
    public MudDialogInstance MudDialog { get; set; }
    
    [Parameter]
    public TransactionModel Transaction { get; set; }
    
    private TransactionQuery TransactionQuery { get; set; }
    
    protected override void OnInitialized()
    {
        Working = true;

        Transaction ??= new()
        {
            TransactionDirection = TransactionDirection.Out,
            Source = "ManuallyCreated",
            Exclude = true,
            AccountId = State.AccountId,
            Amount = 0,
            TransactionDate = DateTime.Now,
            TransactionType = 0,
        };

        TransactionQuery = new TransactionQuery
        {
            AccountId = Transaction.AccountId,
            Month = Transaction.TransactionDate?.Month,
            Year = Transaction.TransactionDate?.Year
        };
        
        Working = false;
    }
    
    private async Task SaveAndAddNew()
    {
        var saved = await Save();

        if (!saved)
        {
            return;
        }

        Transaction = new TransactionModel
        {
            AccountId = Transaction.AccountId,
            TransactionDate = DateTime.Now,
            TransactionType = 0
        };
    }

    private async Task SaveAndClose()
    {
        var saved = await Save();

        if (!saved)
        {
            return;
        }
        
        MudDialog.Close(DialogResult.Ok(true));
    }
    
    private async Task<bool> Save()
    {        
        Working = true;
        
        Transaction.Validate(out var isValid);
        
        if (!isValid)
        {
            Working = false;
            return false;
        }

        Transaction.TransactionId = $"{Transaction.AccountId}-{Transaction.TransactionDate}-{Transaction.Description}-{Transaction.Amount}";
        
        await TransactionService.AddTransaction(Transaction, saveChanges: true);

        if (OnTransactionAdded != null)
        {
            await OnTransactionAdded.Invoke(UiHelpers, Transaction.Id);
        }
        
        Working = false;

        return true;
    }
}