@using Microsoft.AspNetCore.Components
@using Microsoft.Identity.Client
@using Banking.Web.WebApp.Models
@using Hub.Shared.DataContracts.Banking.Dto
@using Hub.Shared.DataContracts.Banking.Query
@using Banking.Providers
@using Banking.Web.WebApp.Models.Form

@inherits BaseComponent

@inject IAccountProvider AccountProvider

<EditForm Model="@Transaction">
    <div class="row">
        <div class="@Constants.FormInputCol">
            <MudRadioGroup 
                T="TransactionDirection"
                SelectedOption="Transaction.TransactionDirection" 
                SelectedOptionChanged="Transaction.OnTransactionDirectionChanged">
                <MudRadio
                    Disabled="@Working"
                    Option="@TransactionDirection.In"
                    Color="@Color.Primary">
                    Incoming
                </MudRadio>
                <MudRadio
                    Disabled="@Working"
                    Option="@TransactionDirection.Out"
                    Color="@Color.Primary">
                    Outgoing
                </MudRadio>
            </MudRadioGroup>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="@Constants.FormInputCol">
            <AccountsSelect/>
        </div>
    </div>

    <div class="row mt-3">
        <div class="@Constants.FormInputCol">
            <TransactionCategoriesSelect 
                Disabled="@Working"
                @bind-SelectedTransactionSubCategoryId="Transaction.TransactionSubCategoryId"/>
        </div>
    </div>

    <div class="row mt-3">
        <div class="@Constants.FormInputCol">
            <MudDatePicker 
                Label="Transaction date"
                Placeholder="Select transaction date"
                DateFormat="dd.MM.yyyy"
                Variant="@Constants.InputVariant"
                Disabled="@Working"
                @bind-Date="Transaction.TransactionDate"/>
        </div>
    </div>

    <div class="row mt-3">
        <div class="@Constants.FormInputCol">
            <MudTextField
                Label="Description"
                Variant="@Constants.InputVariant"
                Disabled="@Working"
                @bind-Value="@Transaction.Description"/>
        </div>
    </div>
                     
    <div class="row mt-3">
        <div class="@Constants.FormInputCol">
            <MudNumericField
                Label="Amount"
                Variant="@Constants.InputVariant"
                disabled="@Working"
                T="decimal"
                Format="N2"
                ValueChanged="@Transaction.OnAmountChanged"
                Value="@Transaction.Amount"
                HideSpinButtons="true"/>
        </div>
    </div>
                     
    <div class="row mt-3">
        <div class="@Constants.FormInputCol">
            <MudCheckBox
                Disabled="@Working"
                Label="Exclude"
                @bind-Checked="@Transaction.Exclude"/>
        </div>
    </div>
    
    @if (ValidationSummary != null)
    {
        @ValidationSummary
    }
    
    
    @if (SubmitActions != null)
    {
        <div class="row mt-3">
            <MudButtonGroup
                class="col-lg-6 col-sm-12"
                OverrideStyles="false">
                @SubmitActions
            </MudButtonGroup>
        </div>
    }
</EditForm>

@code {
    [Parameter]
    public TransactionModel Transaction { get; set; }

    [Parameter]
    public new bool Working { get; set; }

    [Parameter]
    public RenderFragment ValidationSummary { get; set; }

    [Parameter]
    public RenderFragment SubmitActions { get; set; }

    protected override void OnInitialized()
    {
        State.AccountId = Transaction.AccountId;
    }

}