@inherits BillingBaseComponent

<Dialog HeaderText="Bills">
    @if (Working)
    {
        <MudSkeleton/>
    }
    else
    {
        <section class="row">
            <div class="col-12">
                <MudText class="fs-3">kr @UpcomingBillsAmount.ToString("N2") remaining</MudText>
            </div>
            <div class="col-12 mt-2">
                <MudText class="" Color="@(BillingAccountsBalance >= (-UpcomingBillsAmount) ? Color.Success : Color.Error)">
                    kr @(BillingAccountsBalance.ToString("N2")) available
                </MudText>
            </div>

            <div class="col-12">
                <MudText>kr @PaidBillsAmount.ToString("N2") paid</MudText>
            </div>
        </section>

        <section class="row mt-3">
            <MonthYearSelect SelectWrapperClass="col-sm-12 col-lg-3 mt-2 mt-lg-0"/>
        </section>

        @if (!MonthHasPassed)
        {
            <GenericTable
                HideFilter="true"
                TableHeader="Upcoming payments"
                TableHeaderIcon="@Icons.Sharp.ReceiptLong"
                TQuery="ScheduledTransactionQuery"
                Query="UpcomingBillsQuery"
                @ref="UpcomingBillsTableRef"/>
        }

        <GenericTable
            HideFilter="true"
            TableHeader="Completed payments"
            TableHeaderIcon="@Icons.Sharp.ReceiptLong"
            TQuery="TransactionQuery"
            Query="PaidBillsQuery"
            @ref="PaidBillsTableRef"/>
    }
    
</Dialog>

@code {
    private GenericTable<ScheduledTransactionQuery> UpcomingBillsTableRef { get; set; }
    private GenericTable<TransactionQuery> PaidBillsTableRef { get; set; }
}