@using Hub.Shared.DataContracts.Banking.Dto
@using Banking.Providers
@using Banking.Services
@using Banking.Shared
@using Hub.Shared.DataContracts.Banking.Query
@using JetBrains.Annotations

@inherits BaseComponent

@inject UIHelpers UiHelpers
@inject IAccountService AccountService
@inject IAccountProvider AccountProvider

<div class="row">
    <div class="widget-col-12 front-page-col-12 col-8 col-sm-9">
        <MudSelect ReadOnly="Working"
                   @bind-Value="@State.AccountId"
                   Label="Account"
                   Variant="@Constants.InputVariant"
                   AnchorOrigin="@Origin.BottomCenter">
            <MudSelectItem T="long" Value="0">All</MudSelectItem>
            @foreach (var account in State.Accounts)
            {
            <MudSelectItem T="long" Value="@account.Id">@account.Name @(!string.IsNullOrEmpty(account.Bank?.Name) ? $" ({account.Bank.Name})" : "")</MudSelectItem>
            }
        </MudSelect>
    </div>

    <MudButtonGroup
        class="col-3 col-sm-2 d-widget-none d-front-page-none"
        Size="@Size.Small"
        DisableElevation="true"
        OverrideStyles="false">
        <MudIconButton
            Disabled="@(State.AccountId == 0)"
            Color="@Color.Primary"
            Icon="@Icons.Filled.OpenInNew"
            @onclick="() => OpenEditAccountDialog(UiHelpers, State.AccountId)"/>
        <MudIconButton
            Icon="@Icons.Filled.Add"
            Color="@Color.Primary"
            @onclick="() => OpenAddAccountDialog(UiHelpers)"/>
    </MudButtonGroup>

</div>

@code {
    protected override void OnInitialized()
    {
        State.OnStateUpdated += async (sender, args) => await InvokeAsync(StateHasChanged);
    }

    protected async Task OpenAddAccountDialog(UIHelpers uiHelpers)
    {
        var parameters = new DialogParameters
        {
            { nameof(AddAccountDialog.OnAccountAdded), OnAccountAdded }
        };

        await uiHelpers.ShowDialog<AddAccountDialog>(parameters);
    }

    protected async Task OnAccountAdded(UIHelpers uiHelpers, long accountId)
    {
        await State.SetAccounts();

        uiHelpers.ShowSnackbar("Account added", Severity.Success);

        await InvokeAsync(StateHasChanged);
    }

    protected async Task OpenEditAccountDialog(UIHelpers uiHelpers, long? accountId)
    {
        if (accountId == null)
        {
            return;
        }

        var parameters = new DialogParameters
        {
            { nameof(EditAccountDialog.AccountId), accountId.Value },
            { nameof(EditAccountDialog.OnAccountUpdated), OnAccountUpdated },
            { nameof(EditAccountDialog.OnAccountDeleted), OnAccountDeleted }
        };

        await uiHelpers.ShowDialog<EditAccountDialog>(parameters);
    }

    protected async Task OnAccountUpdated(UIHelpers uiHelpers, long accountId)
    {
        await State.SetAccounts();

        uiHelpers.ShowSnackbar("Account updated", Severity.Success);

        await InvokeAsync(StateHasChanged);
    }

    protected async Task OnAccountDeleted(UIHelpers uiHelpers, long bankId)
    {
        await State.SetAccounts();

        uiHelpers.ShowSnackbar("Account deleted", Severity.Success);

        await InvokeAsync(StateHasChanged);
    }

}