@using Banking.Web.WebApp.Models
@using Banking.Web.WebApp.Models.Form
@using Hub.Shared.DataContracts.Banking.Dto

@inherits BaseComponent

<EditForm Model="@TransactionCategory">
    <div class="row mt-3">
        <div class="@Constants.FormInputCol">
            <MudTextField
                Label="Name"
                Variant="@Constants.InputVariant"
                Disabled="@Working"
                @bind-Value="@TransactionCategory.Name"/>
        </div>
    </div>
    
    @if (ValidationSummary != null)
    {
        @ValidationSummary
    }

    @if (SubmitActions != null)
    {
        <div class="row mt-3">
            <MudButtonGroup
                class="col-lg-6 col-sm-12"
                OverrideStyles="false">
                @SubmitActions
            </MudButtonGroup>
        </div>
    }

</EditForm>

@code {

    [Parameter]
    public TransactionCategoryModel TransactionCategory { get; set; }

    [Parameter]
    public new bool Working { get; set; }

    [Parameter]
    public RenderFragment ValidationSummary { get; set; }

    [Parameter]
    public RenderFragment SubmitActions { get; set; }
}